<div *ngIf="value?.type === 'range'" class="row align-items-center mb-3">
  <div class="col-md-4">
    <label for="{{value?.name}}" class="form-label mb-0">{{value?.name}}:&nbsp;</label>
    <span>{{value?.value}} {{value?.unit}}</span>
  </div>
  <div class="col-md-8">
    <input
      type="range"
      class="form-range"
      name="{{value?.name}}"
      [min]="value?.minValue"
      [max]="value?.maxValue"
      [step]="value?.step_size"
      [value]="value?.value"
      (input)="onValueChange(value, $event)" />
  </div>
</div>
<div *ngIf="value?.type === 'number'" class="row align-items-center mb-3">
  <div class="col-md-4">
    <label for="{{value?.name}}" class="form-label mb-0">{{value?.name}}:&nbsp;</label>
    <span>{{value?.value}} {{value?.unit}}</span>
  </div>
  <div class="col-md-8">
    <input
      type="number"
      class="form-number w-100"
      name="{{value?.name}}"
      [min]="value?.minValue"
      [max]="value?.maxValue"
      [step]="value?.step_size"
      [value]="value?.value"
      (input)="onValueChange(value, $event)" />
  </div>
</div>
<span
  *ngIf="value?.type === 'option'"
  class="d-inline-flex flex-column  justify-content-center align-items-center border border-secondary me-3 mb-3 p-2" style="width: 150px; height: 150px;">
  <img [src]="value?.image_url" width="100" class="mb-2">
  <div class="form-check">
    <input
      class="form-check-input me-1"
      type="radio"
      name="optionGroup"
    >
    <label class="form-check-label">
      {{ value?.name }}
    </label>
  </div>
</span>